@charset "UTF-8";

section {
    margin: 80px 0;
}

.block {
    background-color: #78B7D0;
    border: 1px solid;
}

.inline {
    background-color: #FFDC7F;
    border: 1px solid;
}

/* 特徴２ */
.feature02 {
    width: 200px;
    height: 200px;
}

/* 特徴３ */
.feature03-outer {
    margin: 70px 0;
}

.feature03-margin {
    margin: 30px;
}

.feature03-padding {
    padding: 30px;
}